* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* jag glömde tyvärr att sätta värdet margin och padding 0% för hela dokumentet, kom på detta i slutet av inlämningsperioden */

p {
    line-height: 1.5;
    padding-right: 10%;
    padding-left: 10%;
}

h3 {
    padding-right: 10%;
    padding-left: 10%;
}

header > h3 {
    text-align: center;
}

header > img {
    width: 120%;
    margin-top: -55px;
    margin-left: -10%;
}

header > div {
    margin-top: -55px
}

header > div > h1 {
    text-align: right;
    padding-right: 125px;
}

header > div > p {
    text-align: right;
    padding-right: 40px;
}

video {
    width: 100%;
}

.newsletter {
    position: relative;
    text-align: center;
    font-size: xx-small;
}

.newsletter > img {
    width: 100%;
}

/*
.container2 {
    margin-bottom: 10%;
}*/

.container3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: xx-small;
}

footer {
    color: white;
    background-color: black;
}

footer > h3 {
    margin: 0;
    padding-top: 10%;
}

footer > div {
    padding-bottom: 10%;
}

.lefttext {
    text-align: left;
}

.righttext {
    text-align: right;
}

@media screen and (min-width: 481px) {
    .container3 {
        font-size: small;
    }
}

@media screen and (min-width: 769px) { 
    .lefttext {
        padding-left: 20%;
    }
    
    .righttext {
        padding-right: 20%;
    }
    
    header > h3 {
        font-size: x-large;
    }

    header > img {
        margin-top: -70px;
    }

    header > div {
        margin-top: -70px
    }

    header > div > h1 {
        padding-right: 30%;
    }

    header > div > p {
        padding-right: 20%;
    }

    .mobile {
        height: 800px;
    }
    
    .container1 {
        display: flex;
    }

    .container1 > div > h3 {
        padding-left: 20%;
        padding-top: 20%;
    }

    .container1 > div > p {
        padding-bottom: 20%;
    }

    .container2 {
        display: flex;
    }

    .container2 > p {
        padding-right: 10%;
        padding-top: 15%;
    }
  /*Jag vill egentligen att bilden i container2 ska närmare texten som är under likt pdf:en, men bilden har white space runt sig så går inte att komma närmare*/

    .container3 {
        font-size: medium;
        margin-bottom: 70px;
    }

    footer > div {
        display: flex;
    }

    .footer1  {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

@media screen and (min-width: 1025px) {
    .container3 {
        font-size: large;
    }
}